<div class="body">
  <div class="center">
  <h3>    Please register</h3>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="txt_field">
        <h6>Username</h6>
        <label for="username"></label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="txt_field">
        <h6>Login</h6>
        <label for="login"></label>
        <input
          type="number"
          class="form-control"
          name="login"
          [(ngModel)]="form.login"
          required
          login
          #login="ngModel"
        />
        <div class="alert-danger" *ngIf="login.errors && f.submitted">
          <div *ngIf="login.errors.required">login is required</div>
          <div *ngIf="login.errors.login">
           login must be a 8 characters
          </div>
        </div>
      </div>
      <div class="txt_field">
        <h6>code commune</h6>
        <label for="password"></label>
        <input
          type="number"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="txt_field">
        <h6>Password</h6>
        <label for="code_commune"></label>
        <input
          type="password"
          class="form-control"
          name="code_commune"
          [(ngModel)]="form.code_commune"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
    
      </div>
      <div class="form-group">
        <button class="btn">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
